{% extends 'main/layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}
{% block css%}{% static 'main/css/contact_information.css' %}{% endblock %}

{% block content %}
	<div class="contact_inf_container">
		<h1>Контактная информация</h1>
		<div class="for_map">
			<div class="inf_container__conteiner">
				<div class="tell_inf_container__conteiner">
					<p>Телефон:</p>
					<p>+7(800)555-35-35</p>
				</div>
				<div class="email_inf_container__conteiner">
					<p>Email:</p>
					<p>coockery@str.ru</p>
				</div>
				<div class="adres_inf_container__conteiner">
					<p>Адрес:</p>
					<p>г. Красноярск</p>
					<p>ул. Дубровинского 55</p>
				</div>
				<div class="work_inf_container__conteiner">
					<p>Время работы:</p>
					<p>08:00-21:00</p>
				</div>
			</div>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2230.6790892979834!2d92.86595631604071!3d56.00691118062202!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5cd7ae3c40fd8b2b%3A0x2a93d3715917e9ba!2z0YPQuy4g0JTRg9Cx0YDQvtCy0LjQvdGB0LrQvtCz0L4sIDU1LCDQmtGA0LDRgdC90L7Rj9GA0YHQuiwg0JrRgNCw0YHQvdC-0Y_RgNGB0LrQuNC5INC60YDQsNC5LCA2NjAwNDk!5e0!3m2!1sru!2sru!4v1672854619160!5m2!1sru!2sru" width="1000" height="448" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		</div>
	</div>
{% endblock %}
