{% extends 'main/layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}
{% block css%}{% static 'main/css/main.css' %}{% endblock %}

{% block content %}
	<div class="offer">
		<h1>Cookery street</h1>
		<p>Настоящие кондитерские шедевры могут стать приятным подарком для Ваших родных, близких, друзей и коллег по работе! Более того, они гарантированно станут настоящим украшением любого праздничного стола</p>
		<div class="menu_btn__btn">
			<ul class="menu_btn">
				<li><a href="{% url 'menu' %}">Меню</a></li>
			</ul>
		</div>
	</div>
	<section id="about" class="about">
		<div class="container">
			<div class="container_about">
				<div class="about">
					<h2>О нас</h2>
					<p>Вся наша продукция: торты и десерты на заказ - сертифицирована. Мы обожаем творить, постоянно растём и совершенствуемся!</p>
					<p>Мы всегда рады общению с Вами, готовы ответить на все вопросы и будем рады обратной связи!</p>
				</div>
				<div class="cook">
					<h3>Как мы готовим?</h3>
					<p>Для нас очень важны содержание и вкус наших тортов и десертов, поэтому мы используем только качественные и свежие продукты. Только натуральные молочные сливки, качественное сливочное масло, бельгийский шоколад, никаких заменителей и прочих незнакомых слов в составе десертов.</p>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

